[Desktop Entry]
Encoding=UTF-8
Name=Link to International Address Parser - Documentation
Type=Link
URL=http://address-parser.net/documentation/documentation.php
Icon=text-html
